/****************************

FONT

*****************************/
@font-face {
    font-family: 'EmbedCalibri';
    src: url('https://github.com/estanamaoapps/Framework/raw/master/Fonts/calibri.eot'), url('https://github.com/estanamaoapps/Framework/raw/master/Fonts/calibri.ttf') format('truetype');    
}

*{
	font-family: Arial;
}
